[Desktop Entry]
Encoding=UTF-8
Name=Link to Darude Sandstorm | Tesla Light Share
Type=Link
URL=https://teslalightshare.io/light-show/5
Icon=text-html
